.signup-page{

  width:100%;

  height:calc(100vh - 85px);

  display:flex;

  overflow:hidden;

  background:#eaf8ff;
}

.signup-left{

  width:58%;

  padding:35px 55px;

  display:flex;

  flex-direction:column;
}

.signup-left h1{

  font-size:40px;

  line-height:1;

  color:#0f172a;

  margin-bottom:22px;

  font-weight:800;
}

.signup-left p{

  font-size:20px;

  line-height:1.5;

  color:#334155;

  margin-bottom:28px;

  max-width:900px;
}

.signup-left img{

  width:110%;

  height:600px;

  object-fit:cover;

  border-radius:24px;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.15);
}

.signup-right{

  width:42%;

  display:flex;

  justify-content:center;

  align-items:center;

  padding:30px;

  background:linear-gradient(
    135deg,
    #dff6ff,
    #c7f0ff,
    #eef9ff
  );
}

.signup-card{

  width:520px;

  padding:50px 45px;

  border-radius:30px;

  background:rgba(255,255,255,0.28);

  backdrop-filter:blur(18px);

  border:1px solid rgba(255,255,255,0.35);

  box-shadow:
    0 12px 35px rgba(0,0,0,0.18);

  text-align:center;
}
.signup-card h2{

  font-size:64px;

  color:#0f172a;

  margin-bottom:30px;
}

.signup-card form{

  display:flex;

  flex-direction:column;

  gap:20px;
}

.signup-card input{

  height:62px;

  width: 85%;

  border:none;

  border-radius:16px;

  padding-left:20px;

  font-size:20px;

  outline:none;

  background:rgba(255,255,255,0.88);

  box-shadow:
    0 4px 10px rgba(0,0,0,0.08);
}

.signup-card button{

  width:210px;

  height:58px;

  margin:auto;

  border:none;

  border-radius:14px;

  background:linear-gradient(
    135deg,
    #0f172a,
    #2563eb
  );

  color:white;

  font-size:30px;

  font-weight:700;

  cursor:pointer;
}

.login-text{

  margin-top:24px;

  font-size:18px;
}

.login-text a{

  margin-left:8px;

  text-decoration:none;

  color:#2563eb;

  font-weight:700;
}

/* ERROR */

.error-message{

  color:red;

  font-size:15px;

  font-weight:600;
}

/* MOBILE */

@media(max-width:768px){

  .signup-page{

    flex-direction:column;

    height:auto;

    overflow:auto;
  }

  .signup-left{

    width:100%;

    padding:25px;
  }

  .signup-left h1{

    font-size:40px;
  }

  .signup-left p{

    font-size:18px;
  }

  .signup-left img{

    height:auto;
  }

  .signup-right{

    width:100%;
  }

  .signup-card{

    width:100%;
    max-width:420px;
  }

  .signup-card h2{

    font-size:42px;
  }
}